<library path="src">

  <class name="DotGraphVisualization" type="dot_graph_visualization.dot_graph_visualization.DotGraphVisualization" base_class_type="rqt_gui_py::Plugin">
    <description>
      Visualizes a graph received as a DOT graph.
    </description>
    <qtgui>
      <group>
        <label>Visualization</label>
      </group>
      <label>Dot Graph Visualization</label>
      <icon type="theme">applications-science</icon>
      <statustip>Dot Graph Visualization</statustip>
    </qtgui>
  </class>

</library>
